header {
    background-color: var(--russian-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
    position: relative;
}


header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: var(--spacing-md);
}



nav li a {
    color: var(--white-smoke);
    font-weight: bold;
    text-decoration: none;
}

header .logo {
    width: 218px;
    height: 28px;
}

header img#menu-icon {
    width: 28px;
    height: 28px;
}




/* Style for bigger displays like laptops and PCs */
@media (min-width: 1025px) {
    #menu-icon {
        display: none;
    }
}

/* Style for tablets and smaller screens */
@media (max-width: 1024px) {
    #menu-icon {
        display: inline-block;
    }

    header nav {
        position: absolute;
        height: 100vh;
        left: 0;
        width: 100%;
        background-color: var(--white-smoke);
    }
}

/* Style for mobile screens */
@media (max-width: 600px) {}