@import url("./reset.css");

:root {
    --white: #ffffff;
    --white-smoke: #fafafa;
    --metallic-gold: #cfb991;
    --metallic-gold-transparent: #cfb99166;
    --blue-charcoal: #243746;
    --outer-space: #1c2a39;
    --russian-black: #040f1b;
    --black: #000000;
}